provider name="aspell"

patterns {
  *.lock
  mypy.ini
}

global {
  Backend
  Baz
  Cli
  Config
  Dimitri
  Dirs
  HEXA
  Http
  IDENT
  Init
  Linters
  MERCHANTABILITY
  Merejkowsky
  Ok
  README
  Redistributions
  Sqlite
  TODO
  UTF
  api
  args
  backend
  backends
  baz
  cd
  changelog
  chrono
  cli
  cmd
  config
  dev
  dir
  dirs
  env
  environ
  favicon
  fs
  goto
  ico
  init
  js
  json
  lineno
  lossy
  md
  param
  py
  readme
  repo
  sha
  src
  svg
  textwrap
  tmp
  txt
  unicode
  unix
  urls
  uuid
  vec
  whitespace
}

project {
  Enchant's
  Enum
  Gitignore
  Insertable
  Interactor
  Json
  Kak
  Kakoune
  Kdl
  Queryable
  SKYSPELL
  Skyspell
  Tokenizer
  Undoer
  aspell
  buflist
  bufname
  clippy
  desc
  dialoguer
  dmerej
  docstring
  dsl
  esc
  f'input
  ga
  gg
  gitignore
  hunspell
  ident
  interactor
  isort
  itersel
  itertools
  kak
  kakoune
  kakrc
  kdl
  lang
  miette
  mypy
  nuspell
  pytest
  ret
  rustfmt
  scspell
  serde
  skyspell
  snailquote
  sql
  sqlite
  subcommand
  tempdir
  tempfile
  tokenizer
  undoer
  unescape
  unskip
  url
  utc
  xdist
}

extensions {
  py {
    Popen
    args
    env
    fetchall
    len
    os
    pathlib
    py
    pytest
    splitlines
    sqlite
    startswith
    stdout
    str
    subprocess
    textwrap
  }

  rs {
    Bool
    Buf
    Deque
    Deserialize
    Eq
    Fn
    Formatter
    Itertools
    Mut
    Str
    Vec
    arg
    bool
    buf
    canonicalize
    cfg
    cmp
    const
    dbg
    dedent
    deserialize
    dyn
    enum
    eprintln
    eq
    extern
    ffi
    fmt
    fn
    impl
    io
    iter
    len
    lt
    mut
    num
    ok
    os
    pathdiff
    pos
    println
    rsplit
    stdin
    stdout
    str
    struct
    tt
    ty
    usize
  }

  toml {
    pathdiff
  }

  sql {
    BIGINT
  }

  kak {
    Buf
    Gl
    fi
    gi
    params
    printf
    pwd
    str
  }
}

paths {
  "tests/test_kakoune_integration.py" {
    fn
    gg
    missstake
    othhher
    rf
  }

  "tests/tasks.py" {
    pre
  }

  README.md {
    fn
    helllo
    impl
    nextest
    png
    sha
  }

  Changelog.md {
    buflist
    ga
    subcommand
  }

  "crates/cli/Cargo.toml" {
    md
  }

  "crates/cli/src/lib.rs" {
    Buf
  }

  "crates/cli/src/tests/fake_interactor.rs" {
    qyn
  }

  "crates/cli/src/checkers/interactive/tests.rs" {
    defaultdict
    py
  }

  "crates/cli/src/checkers/interactive.rs" {
    aepfnsxq
  }

  "crates/cli/src/tests.rs" {
    hel
  }

  "crates/core/src/config/tests.rs" {
    abc
    ghi
    hfill
    tex
    vfill
  }

  "crates/core/src/tokens.rs" {
    EDITMSG
    br
    nrt
    r'foo
    rb
    rf
    tex
  }

  "crates/core/src/tests/fake_dictionary.rs" {
    asntoehsauh
    missstake
  }

  "crates/core/src/tests/test_dictionary.rs" {
    missstake
  }

  "crates/core/src/tokens/tests.rs" {
    ada
    ewpage
    f'hello
    iny
    newpage
    tex
    url
    xy
    youtube
  }

  "crates/core/Changelog.md" {
    mut
    struct
  }

  "crates/kak/src/io/tests.rs" {
    ga
  }

  "crates/kak/src/cli/tests.rs" {
    chell
    chello
    ga
    gg
    hllo
    itersel
  }

  "crates/kak/Changelog.md" {
  }

  pre-push {
    fi
  }

  TODO {
    enum
    struct
  }
}
